<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
    <h1>Python Test</h1>
    <form method="POST">{% csrf_token %}
        <div class="inline-content post-form">
            <!-- {{ form.as_p }} -->
            <textarea name="input_text" cols="85">{{ input_text }}</textarea>
            <button type="submit" class="save btn btn-default" name="submit_split">Go</button>
        </div>
        {% for text in split_text %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{ text }}" name="words" value="{{ text }}">
              <label class="custom-control-label" for="{{ text }}">{{ text }}</label>
            </div>
        {% endfor %}
        <button type="submit" class="save btn btn-default" name="submit_save">Go</button>

    </form>



{% endblock %}