<!DOCTYPE html>
{% extends 'mor/base.html' %}

{% block content %}
    <h1>Python Test</h1>

    <form method="POST">{% csrf_token %}
        <div class="inline-content post-form">
            <!-- {{ form.as_p }} -->
            <textarea name="input_text" cols="85">{{ input_text }}</textarea>
            <button type="submit" class="save btn btn-default" name="submit_split">Go</button>
        </div>
        <table class="table table-striped">
            {% if words %}
                <th width="100">Words</th>
                <th width="100">Positive</th>
                <th width="100">Negative</th>
            {% endif %}
            {% for word in words %}
                <tr>
                    <td>{{ word }}</td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ word }}" name="positive_checkbox_words" value="{{ word }}">
                            <label class="custom-control-label" for="{{ word }}"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ word }}" name="negative_checkbox_words" value="{{ word }}">
                            <label class="custom-control-label" for="{{ word }}"></label>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>

        <div class="text-left">
            {% if words %}
                <button type="submit" name="submit_save">Save</button>
            {% endif %}
        </div>
        <h4>
            {% if is_saved %}
                Saved. id = {{ mor.id }}
            {% endif %}
        </h4>


    </form>



{% endblock %}
